<!DOCTYPE html>
<html lang="en">
{% load my_tag %}
<head>
    <meta charset="UTF-8">
    <title>Crush个人博客</title>
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/index.css">
    <script src="/static/vue/vue.js"></script>

</head>
<body>
<div id="app">
    <link rel="stylesheet" :href="'/static/my/css/theme/' + theme + '.css'">
    <nav>
        <div class="left">
            <a href="#">首页</a>
            <a href="#">新闻</a>
            <a href="#">心情</a>
            <a href="#">关于</a>
        </div>
        <div class="right">
            <img v-show="theme === 'light'" src="/static/my/img/nav/light.svg" @click="setTheme('dark')" alt="">
            <img v-show="theme === 'dark'" src="/static/my/img/nav/dark.svg" @click="setTheme('light')" alt="">
            <a href="#">登录</a>
            <a href="#">注册</a>
        </div>
    </nav>

    {% banner 'index' %}

    <main>
        内容区域
    </main>
    <footer>
        <div class="left">
            <p class="thank">Thank For</p>
            <p class="site_info">
                <span><img src="/static/my/img/footer/cat.svg">可爱的猫猫</span>
                <span><img src="/static/my/img/footer/strong.svg">强壮的身体</span>
            </p>
            <p class="version">
                <span>version</span>
                <span>1.0.0</span>
            </p>
            <p>建站日期:2022.1.21-至今</p>
            <p class="beian">
                <a href="https://www.baidu.com"><img src="/static/my/img/footer/cat.svg" alt="">备案号xxx</a>
            </p>
        </div>
        
        <div class="right">
            <div class="contact">
                <div>
                    <img class="svg" src="/static/my/img/footer/qq_icon.svg" alt="">
                    <img class="qq" src="/static/my/img/footer/qq.jpg" alt="">
                </div>
            </div>
            <p>
                    联系邮箱：1298835387@qq.com
            </p>
        </div>
    </footer>
</div>
<script>
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            theme: 'light',    //默认主题
        },
        created() {
            //读取存储的主题信息
            this.init_theme()
        },
        methods: {
            //初始化主题
            init_theme() {
                let theme = localStorage.getItem('theme')
                if (theme) {
                    this.theme = theme
                }
            },

            // 设置主题
            setTheme(themeName) {
                this.theme = themeName
                //写入到持久化存储
                localStorage.setItem('theme', themeName)
            },

        }
    })

    // 图片轮播图
    // 获取需要轮播的div
    let menu_img = document.querySelectorAll('.dynamic_shuffl')

    // 轮播图片的长度
    let menu_length = menu_img.length
    let index = 0
    let timer = null;
    clearInterval(timer)
    timer = setInterval(() => {
        index++
        // 如果为最后一张图片，需要跳转回第一张图片
        if (index === menu_length) {
            index = 0
        }
        // 样式复原操作
        for (const i of menu_img) {
        i.style.opacity = 0
        }
        menu_img[index].style.opacity = 1
    }, 2000)

</script>

</body>
</html>